<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232900768378-alu77adsqshpdjdf4pc1hjhmtovm1moo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232900768378-alu77adsqshpdjdf4pc1hjhmtovm1moo</string>
	<key>API_KEY</key>
	<string>AIzaSyDPS9a3KwQg4Z3nUuaqOTpIA_L1TZ6Qo60</string>
	<key>GCM_SENDER_ID</key>
	<string>232900768378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>balelabs.flutter.core</string>
	<key>PROJECT_ID</key>
	<string>balelabs-flutter-core</string>
	<key>STORAGE_BUCKET</key>
	<string>balelabs-flutter-core.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:232900768378:ios:c89a6e93931a5e1588c1c3</string>
</dict>
</plist>
